{% extends 'base.html.twig' %}

{% block title %}Options
{% endblock %}

{% block body %}
	<h1>Options</h1>

	<form method="get" action="{{ path('app_options_index') }}">
		<div>
			<label for="name">Rechercher:</label>
			<input type="text" id="name" name="name" value="{{ app.request.get('name') }}">
		</div>
		<div>
			<label for="type">Type:</label>
			<select id="type" name="type">
				<option value="">-- Tous les types --</option>
				{% set types = ['Mobilier', 'Technologie', 'Confort', 'Confort physique', 'Accessibilité', 'Éclairage', 'Acoustique'] %}
				{% for t in types %}
					<option value="{{ t }}" {% if app.request.get('type') == t %} selected {% endif %}>{{ t }}</option>
				{% endfor %}
			</select>
		</div>
		<button type="submit">Search</button>
		<a href="{{ path('app_options_index') }}">Reset</a>
	</form>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Type</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for option in options %}
				<tr>
					<td>{{ option.id }}</td>
					<td>{{ option.name }}</td>
					<td>{{ option.description }}</td>
					<td>{{ option.type }}</td>
					<td>
						<a href="{{ path('app_options_show', {'id': option.id}) }}">show</a>
						<a href="{{ path('app_options_edit', {'id': option.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_options_new') }}">Create new</a>
{% endblock %}
