<aside>
    <article>
        <div>
            <h3>Réservations</h3>
        </div>
        <div>
            <p><a href="{{ path('admin_reservations_index') }}" data-load>Liste des réservations</a></p>
            <p><a href="">Réservations à venir</a></p>
        </div>
    </article>

    <article>
        <div>
            <h3>Salles</h3>
        </div>
        <div>
            <p><a href="{{ path('admin_room_index') }}" data-load>Liste des salles</a></p>
            <p><a href="{{ path('admin_room_new') }}" data-load>Ajouter une salle</a></p>
        </div>
    </article>

    <article>
        <div>
            <h3>Options</h3>
        </div>
        <div>
            <p><a href="{{ path('admin_options_index') }}" data-load >Liste des options</a></p>
            <p><a href="{{ path('admin_options_new') }}" data-load>Ajouter une option</a></p>
        </div>
    </article>

    <article>
        <div>
            <h3>Utilisateurs</h3>
        </div>
        <div>
            <p><a href="{{ path('admin_user_index') }}" data-load>Liste des utilisateurs</a></p>
        </div>
    </article>

    

</aside>