<aside>
    <article>
        <div>
            Réservations
        </div>
        <div>
            <p><a href="{{ path('app_reservations_index') }}">Liste des réservations</a></p>
            <p><a href="">Réservations à venir</a></p>
        </div>
    </article>

    <article>
        <div>
            Salles
        </div>
        <div>
            <p><a href="{{ path('app_room_index') }}">Liste des salles</a></p>
            <p><a href="{{ path('app_room_new') }}">Ajouter une salle</a></p>
        </div>
    </article>

    <article>
        <div>
            Options
        </div>
        <div>
            <p><a href="{{ path('app_options_index') }}">Liste des options</a></p>
            <p><a href="{{ path('app_options_new') }}">Ajouter une option</a></p>
        </div>
    </article>

    <article>
        <div>
            Utilisateurs
        </div>
        <div>
            <p><a href="{{ path('app_user_index') }}">Liste des utilisateurs</a></p>
        </div>
    </article>

    

</aside>